<section class="bg-blue-50 flex flex-col">
<div class="max-w-4xl mx-auto p-8">
  <h1 class="text-2xl font-bold text-center mb-6">Cloud Computing Quiz & Use cases</h1>
  <div class="bg-white shadow-md rounded-lg p-6">
    <p class="text-lg font-medium">Quizzen indeholder disse emner:</p>
    <ul class="list-disc pl-5 mt-2">
      <li>Definer cloud computing.</li>
      <li>Beskriv den delte ansvarsmodel.</li>
      <li>Definer cloudmodeller, inklusiv offentlig, privat og hybrid.</li>
      <li>Identificer passende anvendelsestilfælde for hver cloudmodel.</li>
      <li>Beskriv den forbrugsbaserede model.</li>
      <li>Sammenlign cloud-prismodeller.</li>
    </ul>
  </div>
</div>
  <div class="flex justify-around my-8">
  <div class="mt-6">
    <h1 class="text-2xl font-bold text-center mb-6 mt-12">Quiz om Cloud concept</h1>
    <app-quiz [questions]="cloudQuizQuestions"></app-quiz>
  </div>

  </div>
  <div class="my-6">
    <h1 class="text-2xl font-bold text-center mb-6 mt-12">Use case scenarie</h1>
  </div>
</section>
