<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="text-white text-lg">
      <a routerLink="/" class="hover:text-gray-300">Brand</a>
    </div>
    <div>
      <ul class="flex space-x-4">
        <li><a routerLink="/cloud" class="text-gray-300 hover:text-white">Cloud</a></li>
        <li><a routerLink="/compute" class="text-gray-300 hover:text-white">Compute</a></li>
        <li><a routerLink="/networking" class="text-gray-300 hover:text-white">Networking</a></li>
        <li><a routerLink="/storage" class="text-gray-300 hover:text-white">Storage</a></li>
        <li><a routerLink="/more-topics" class="text-gray-300 hover:text-white">More Topics</a></li>
      </ul>
    </div>
  </div>
</nav>
